/*form a {
  margin-left: 5px;
}

.iconWidth {
  width: 40px;
  text-align: center;
}

.customers-table tbody > tr {
  cursor: pointer;
}

.checkbox {
  width: 20%;
}

.checkbox-group {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.badge {
  margin-right: 5px;
}*/
