form button {
  margin-right: 5px;
}

.customers-table tbody > tr,
.agencies-table tbody > tr {
  cursor: pointer;
}

.badge {
  margin-right: 5px;
}

.iconWidth {
  width: 16px;
  text-align: center !important;
}

#loginbox .help-inline {
  color: #fff;
}


/*



.checkbox {
  width: 20%;
}

.checkbox-group {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

*/
